useDynLib(remote)
#exportPattern("^[[:alpha:]]+")
exportClasses(EotStack)
exportClasses(EotMode)
export(EotCycle)
export(anomalize)
export(calcVar)
export(covWeight)
export(cutStack)
export(deg2rad)
export(denoise)
export(deseason)
export(eot)
export(geoWeight)
export(getWeights)
export(lagalize)
export(nEot4Var)
export(subset)
export(names)
export(nmodes)
export(plot)
import(Rcpp)
import(foreach)
import(raster)
