export(EotCycle)
export(anomalize)
export(calcVar)
export(covWeight)
export(cutStack)
export(deg2rad)
export(denoise)
export(deseason)
export(deseasonC)
export(geoWeight)
export(getWeights)
export(lagalize)
exportClasses(EotMode)
exportClasses(EotStack)
exportMethods("names<-")
exportMethods(eot)
exportMethods(nXplain)
exportMethods(names)
exportMethods(nmodes)
exportMethods(plot)
exportMethods(predict)
exportMethods(subset)
exportMethods(writeEot)
import(Rcpp)
import(foreach)
import(raster)
import(methods)
useDynLib(remote)